.title {
    position: absolute; /* Set position to absolute */
    top: 25%; /* Place title at the vertical center */
    left: 25%; /* Place title at the horizontal center */
    transform: translate(-50%, -50%); /* Center title both horizontally and vertically */
    font-size: 5em; /* Set font size */
    font-weight: 1000; /* Set font weight */
    color: white;
    z-index: 1;
    font-family: 'Space Mono', monospace;
 
}

.backgroundVideo {
    position: absolute; /* Set position to absolute */
    top: 0; /* Align video to the top */
    left: 0; /* Align video to the left */
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    object-fit: cover; /* Cover entire viewport with video */
}


