/* Navbar.css */
/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure this is higher than other components */
    background-color: #000000; /* Match the bg-light class from Bootstrap */

  }
  
  /* Ensure other navbar styles are inherited correctly */
  .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(0,0,0,0); /* Ensures the bg-light class is applied  - last digit is transparency, 0 is completely not transparent*/
    top: 0;
    right: 0;
    width: 50%;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    text-decoration: none;
    padding: 10px 20px;
  }
  

  .navbar a::before {
    content: "";
    position: absolute;
    width: 5%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, white, white); /* underline color */
    background-size: 0 2px; /* vertical size of underline */
    background-repeat: no-repeat;
    background-position: left bottom; /* start position of underline */
    transition: background-size .3s ease-in; /* duration and timing style of animation */
  }
  
  .navbar a:hover::before {
    background-size: 100% 2px;
  }